[defaults]
inventory = ./inventory.ini
log_path = /var/log/roboshop/ansible.log
private_key_file = /home/ec2-user/roboshop-ansible-v2/group_vars
#ask_vault_pass = True
# vault_password_file = ~/roboshop-ansible-v2 /.vault_pass


  
